## Exploring the Data

In [21]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

# For Visualization
import matplotlib.pyplot as plt
import matplotlib
#%matplotlib inline

# matplotlib.style.use('ggplot')
df=pd.read_csv('kaggle/indicators_by_company.csv')

print("Read in CSV")

Read in CSV

In [22]:
#number of indicators by company
df_ind_count = pd.concat(
    [ df[['company_id', 'indicator_id', '2010']].dropna().groupby('company_id')['indicator_id'].count(),
      df[['company_id', 'indicator_id', '2011']].dropna().groupby('company_id')['indicator_id'].count(),
      df[['company_id', 'indicator_id', '2012']].dropna().groupby('company_id')['indicator_id'].count(),
      df[['company_id', 'indicator_id', '2013']].dropna().groupby('company_id')['indicator_id'].count(),
      df[['company_id', 'indicator_id', '2014']].dropna().groupby('company_id')['indicator_id'].count(),
      df[['company_id', 'indicator_id', '2015']].dropna().groupby('company_id')['indicator_id'].count(),
      df[['company_id', 'indicator_id', '2016']].dropna().groupby('company_id')['indicator_id'].count()], axis=1)

df_ind_count.columns=['2010','2011','2012','2013','2014','2015','2016']
df_ind_count.head(10)

             2010   2011   2012   2013   2014   2015  2016
company_id
1750        100.0  179.0  184.0  175.0  192.0  173.0   NaN
1800          NaN  180.0  167.0  188.0  193.0  196.0   NaN
1961          NaN    NaN   55.0   80.0   56.0   64.0   NaN
2034          NaN  222.0  214.0  205.0  192.0  197.0   NaN
2098          NaN   81.0  214.0  204.0  204.0  211.0   NaN
2178          NaN   85.0  171.0  170.0  160.0  155.0   NaN
2186          NaN   80.0  131.0  123.0  134.0  144.0   NaN
2488          NaN  224.0  244.0  251.0  234.0  206.0   NaN
2491        226.0  220.0  229.0  232.0    NaN    NaN   NaN
2969          NaN  352.0  384.0  359.0  355.0  349.0   NaN

In [23]:
#distribution of the indicators; number per company in the data set per year
l_df=[]
for c in df_ind_count.columns:
    l_df.append(list(df_ind_count[c].dropna().describe()))
df_ind_count_desc=DataFrame(l_df,columns=['count','mean','std','min','25%','50%','75%','max'],index= df_ind_count.columns)
df_ind_count_desc

       count        mean        std    min    25%    50%     75%    max
2010   247.0  134.910931  79.273019   14.0   80.0   98.0  213.50  342.0
2011  7102.0  111.869755  75.335138    1.0   62.0   86.0  139.75  499.0
2012  7085.0  159.747071  81.386167    1.0   92.0  163.0  220.00  505.0
2013  6997.0  161.654566  80.942788    1.0   95.0  165.0  221.00  496.0
2014  6876.0  165.746219  80.741599    1.0  102.0  169.0  224.00  491.0
2015  6135.0  171.007824  78.674520    3.0  113.0  175.0  225.00  489.0
2016     7.0  226.714286  41.185411  178.0  203.0  219.0  240.50  303.0

,2010,2011,2012,2013,2014,2015,2016
count,247.000000,7102.000000,7085.000000,6997.000000,6876.000000,6135.000000,7.000000
mean,134.910931,111.869755,159.747071,161.654566,165.746219,171.007824,226.714286
std,79.273019,75.335138,81.386167,80.942788,80.741599,78.674520,41.185411
min,14.000000,1.000000,1.000000,1.000000,1.000000,3.000000,178.000000
25%,80.000000,62.000000,92.000000,95.000000,102.000000,113.000000,203.000000
50%,98.000000,86.000000,163.000000,165.000000,169.000000,175.000000,219.000000
75%,213.500000,139.750000,220.000000,221.000000,224.000000,225.000000,240.500000
max,342.000000,499.000000,505.000000,496.000000,491.000000,489.000000,303.000000

In [19]:
df[['company_id', 'indicator_id', '2016']]

         company_id                                       indicator_id  2016
0           1000045  AccountsPayableAndAccruedLiabilitiesCurrentAnd...   NaN
1           1000045  AccumulatedDepreciationDepletionAndAmortizatio...   NaN
2           1000045                          AdjustmentForAmortization   NaN
3           1000045                                             Assets   NaN
4           1000045                   AssetsHeldForSaleAtCarryingValue   NaN
5           1000045  AssetsOfDisposalGroupIncludingDiscontinuedOper...   NaN
6           1000045                                               Cash   NaN
7           1000045              CashAndCashEquivalentsAtCarryingValue   NaN
8           1000045       CashAndCashEquivalentsPeriodIncreaseDecrease   NaN
9           1000045                         CashPeriodIncreaseDecrease   NaN
10          1000045               CommonStockDividendsPerShareCashPaid   NaN
11          1000045               CommonStockDividendsPerShareDeclared   NaN
12          1000045                              CommonStockNoParValue   NaN
13          1000045                        CommonStockSharesAuthorized   NaN
14          1000045                            CommonStockSharesIssued   NaN
15          1000045                       CommonStockSharesOutstanding   NaN
16          1000045                                   CommonStockValue   NaN
17          1000045                        CommonStockValueOutstanding   NaN
18          1000045  ComprehensiveIncomeNetOfTaxIncludingPortionAtt...   NaN
19          1000045                                      CostOfRevenue   NaN
20          1000045                    CurrentFederalTaxExpenseBenefit   NaN
21          1000045                     CurrentIncomeTaxExpenseBenefit   NaN
22          1000045              CurrentStateAndLocalTaxExpenseBenefit   NaN
23          1000045             DeferredFederalIncomeTaxExpenseBenefit   NaN
24          1000045                    DeferredIncomeTaxExpenseBenefit   NaN
25          1000045                                    DeferredRevenue   NaN
26          1000045       DeferredStateAndLocalIncomeTaxExpenseBenefit   NaN
27          1000045             DeferredTaxAssetsDerivativeInstruments   NaN
28          1000045                               DeferredTaxAssetsNet   NaN
29          1000045                             DeferredTaxAssetsOther   NaN
...             ...                                                ...   ...
1907853        9984  ShareBasedCompensationArrangementByShareBasedP...   NaN
1907854        9984  ShareBasedCompensationArrangementByShareBasedP...   NaN
1907855        9984  ShareBasedCompensationArrangementByShareBasedP...   NaN
1907856        9984  ShareBasedCompensationArrangementByShareBasedP...   NaN
1907857        9984  ShareBasedCompensationArrangementByShareBasedP...   NaN
1907858        9984  ShareBasedCompensationArrangementByShareBasedP...   NaN
1907859        9984  ShareBasedCompensationArrangementsByShareBased...   NaN
1907860        9984  ShareBasedCompensationArrangementsByShareBased...   NaN
1907861        9984  ShareBasedCompensationArrangementsByShareBased...   NaN
1907862        9984                                ShortTermBorrowings   NaN
1907863        9984  StockIssuedDuringPeriodSharesStockOptionsExerc...   NaN
1907864        9984  StockIssuedDuringPeriodSharesTreasuryStockReis...   NaN
1907865        9984           StockIssuedDuringPeriodValueAcquisitions   NaN
1907866        9984  StockIssuedDuringPeriodValueTreasuryStockReissued   NaN
1907867        9984                                 StockholdersEquity   NaN
1907868        9984                        TaxCreditCarryforwardAmount   NaN
1907869        9984                                TreasuryStockShares   NaN
1907870        9984                                 TreasuryStockValue   NaN
1907871        9984               TreasuryStockValueAcquiredCostMethod   NaN
1907872        9984         UndistributedEarningsOfForeignSubsidiaries   NaN
1907873        9984                            UnrecognizedTaxBenefits   NaN
1907874        9984  UnrecognizedTaxBenefitsDecreasesResultingFromS...   NaN
1907875        9984  UnrecognizedTaxBenefitsIncreasesResultingFromA...   NaN
1907876        9984  UnrecognizedTaxBenefitsIncreasesResultingFromC...   NaN
1907877        9984  UnrecognizedTaxBenefitsIncreasesResultingFromP...   NaN
1907878        9984  UnrecognizedTaxBenefitsInterestOnIncomeTaxesAc...   NaN
1907879        9984  UnrecognizedTaxBenefitsReductionsResultingFrom...   NaN
1907880        9984   ValuationAllowanceDeferredTaxAssetChangeInAmount   NaN
1907881        9984    WeightedAverageNumberOfDilutedSharesOutstanding   NaN
1907882        9984      WeightedAverageNumberOfSharesOutstandingBasic   NaN

[1907883 rows x 3 columns]